body {
    margin: 0 auto;
    max-width: 1200;
    color: #3f3d3d;
}

.titulo {
    width: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: system-ui;
    margin: 0;
    color: #266885;
    letter-spacing: .05em;
    text-transform: uppercase;
    text-align: center !important;
    font-size: 26px;
    line-height: 30px;
    background: linear-gradient(96.44deg, rgb(197, 213, 255), rgb(226, 240, 255) 51.56%, rgb(215, 212, 255));
    padding: 20px 20px 0px;
}



.form1 {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form1_buscador {
    width: 400px;
    height: 25px;
    position: relative;
    align-items: center;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid rgb(51, 153, 204);
    outline: none;
}

.form1_buscar {
    padding: 0.5em 1em;
    border: none;
    background: rgb(51, 153, 204);
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
}



.header {
    font-family: system-ui;
    line-height: 1.5;
    width: 100%;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 60px;
    background: linear-gradient(96.44deg, rgb(197, 213, 255), rgb(226, 240, 255) 51.56%, rgb(215, 212, 255));
    z-index: 1;
    padding: 40px 20px 20px;
}



ul {
    list-style: none;
}

.nav li a {
    background-color: rgb(23, 128, 160);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px 10px;
    display: flex;
}

.nav>li {
    float: left;
}

.nav li a:hover {
    background-color: #276d8d;
    transition: .3s;
}

.nav:hover> :not(:hover) {
    opacity: .4;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 120px;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}




/*main*/

.productos {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 0 0 80px;
   
}
.productos img {
    width: 300px;
    height: 300px;
    border-radius: 10px 10px 0 0;
}


.producto:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.info-producto {
    padding-left: 30px;


}




/* /* body {
    position: relative; /* Añadido para permitir el posicionamiento absoluto en relación con el body */


/* .header-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrito-link {
    position: absolute;
    top: 0;
    right: 30px;
    margin: 20px;
    font-weight: bold;
} */

.conpag {
    font-family: Arial, sans-serif;
    background-color: #e9f2f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #f4f7f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los campos de entrada */
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/*botón de enviar */
.contact-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.contact-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.contact-form input[type="reset"]:hover {
    background-color: #0056b3;
}

.contact-form input[type="reset"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.contact-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* .piep {
    display: flex;
    justify-content: center;
    color: #276d8d;
} */

input[type="date"]::webkit-calendar-picker-indicator {
    background-color: #0056b3;
}

/* Cambia el color del texto dentro del calendario */
input[type="date"]::-webkit-calendar-picker-indicator:after {
    color: #fff;
}

/* Cambia el color de fondo de los días de la semana */
input[type="date"]::-webkit-calendar-picker-indicator:active {
    background-color: #0056b3;
}

/* Cambia el color del borde al seleccionar una fecha */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: center;
}

/* Oculta los controles de flecha para subir y bajar el valor de la fecha */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Oculta la ruedita para elegir edad */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-picker-indicator {
    display: none;
}