body {
    margin: 0;
    background: rgb(226, 240, 255);
    background-image: none; 
}

.h1_titulo{
    width: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: system-ui;
    margin: 0;
    color: #243238;
    letter-spacing: .05em;
    text-transform: uppercase;
    text-align: center!important;
    font-size: 26px;
    line-height: 30px;
    background:none;
    padding: 20px 20px 0px;
}


.form1 {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.form1_buscador {
    width: 30vw;
    height: 2.5vw;
    max-width: 60vw;
    max-height: 25px;
    min-height: 25px;
    position: relative;
    align-items: center;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid rgb(51, 153, 204);
    outline: none;
}

.form1_buscar {
    width: 7vw;
    min-width: 65px;
    max-width: 75px;
    padding: 0.5em 1em;
    border: none;
    background: #4682b4;
    color: #fff;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
    box-sizing: border-box;
}


.header{
font-family: system-ui;
line-height: 1.5;
width: 100%;
align-items: center;
position: relative;
display: flex;
flex-direction: column;
margin: auto;
min-height: 60px;
background: none;
z-index: 1;
padding: 40px 20px 20px;
border-radius: 25% 25% 25% 25%;
}


.titulo {
display: flex;
justify-content: center;
color: #276d8d;
}

footer{
background-color: rgb(51, 153, 204);
height: 15vh; 
text-align: center; 
color: rgba(14, 10, 10, 0.8); 
border-radius: 0% 0% 75% 75%;

}
.texto-footer{
padding-top: 5vh;
font-size: 1.3vw;

}

/* Estilo contenedor de formulario hasta errores abajo */
.contact-form {
margin: 10px 0; /
}


.contact-form label {
font-weight: bold;
}

/* Estilo entradas */
.contact-form input[type="text"],
.contact-form input[type="date"],
.contact-form input[type="number"],
.contact-form input[type="tel"],
.contact-form input[type="email"],
.contact-form textarea {
width: 100%;
padding: 10px;
margin: 5px 0;
border: 1px solid #0b76ce; 
border-radius: 40px; 
font-size: 16px;
}

/* Estilo botones */
.contact-form input[type="submit"],
.contact-form input[type="reset"] {
padding: 10px 20px;
background-color: #276d8d; 
color: #fff;
border: none;
cursor: pointer;
border-radius: 5px;
font-size: 16px;
margin-right: 10px; 
}

/* Estilo botones 1 eleccion */
.contact-form input[type="radio"] {
margin-right: 5px;
}

/* Style form fieldset and legend (for grouping) */
.contact-form fieldset {
border: 20px solid #36af63;
padding: 10px;
border-radius: 5px;
margin-bottom: 10px;
}

.contact-form legend {
font-weight: bold;
}


.contact-form textarea {
resize: vertical; 
}


.contact-form select {
width: 100%;
padding: 10px;
margin: 5px 0;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
}

/* Estilo errores de formulario hasta aqui */
.error-message {
color: red; 
font-size: 14px; 
}

button.precioymenu {
background-color: #4682b4; /* Azul brillante para los botones */
color: #ffffff; /* Texto blanco para contraste */
border-radius: 5px 5px 5px 5px; /* Sin bordes */
padding: 10px 15px; /* Espacio interno */
cursor: pointer; /* Cambia el cursor al pasar por encima */ /* Bordes redondeados */
/* font-size: 16px; /* Tamaño del texto */
/*position: relative; /* Posicion */
/* z-index: 1; */
}

/* Estilos para los enlaces dentro de los botones */
button.precioymenu a {
color: #ffffff; /* Texto blanco */
text-decoration: none; /* Sin subrayado */
font-size: 16px; /* Tamaño del texto */
}

/* Estilos para los enlaces cuando se pasan por encima */
button.precioymenu a:hover {
text-decoration: none; /* Quita el subrayado al pasar el mouse */
}

#botonera {
background-color: none; /* Azul claro para el fondo */
padding: 15px; /* Espacio entre la busqueda y botones */
display: flex; /* Hace que los elementos hijos se distribuyan en línea */
justify-content: space-around; /* Distribuye los elementos de manera uniforme */
position: relative; 
z-index: 1;
}

@media only screen and (max-width: 768px) {
    #botonera {
        flex-direction: column; 
    }
    
    button.precioymenu {
        margin-bottom: 10px; 
    }
}

.categoria-header {
background-color: #333; /* Color de fondo */
color: #ffffff; /* Color del texto */
text-decoration: none; /* Quita el subrayado */
padding: 10px 20px; /* Espaciado interno */
border-radius: 5px; /* Bordes redondeados */
}

.categoria-header:hover {
color: #fff; /* Cambia el color del texto al pasar el mouse */
}

.slider {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    padding-left: 25%;
    position: relative; 
    z-index: 0; 
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

img {
    width: 50%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .slider {
        flex-direction: column;
        align-items: center;
    }

    .slide {
        min-width: 100%;
    }

    img {
        width: 100%;
    }
}

.seccion-arriba {
    background-image: url('../imagenes/Banner\ Tech.jpeg'); 
    background-size: cover;
    background-position: center;
    height: 50vh; 
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .seccion-arriba {
        height: 30vh; 
    }
}


@media only screen and (max-width: 480px) {
    .seccion-arriba {
        height: 20vh; 
    }
}

body {
    margin: 0;
    background: rgb(226, 240, 255);
    background-image: none; 
}

.productos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.producto {
    margin: 20px;
    padding: 20px;
    width: 300px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s;
}

.producto h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.producto p {
    font-size: 1rem;
}

.producto button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #276d8d;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.producto:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.producto img:hover {
    transform: scale(1.1);
}

.producto button:hover {
    background-color: #144e69;
}

/* Estilos para el botón de abrir el carrito */
#open-cart {
    position: fixed;
    top: 50%;
    right: 20px; /* Alinea el botón a la derecha */
    transform: translateY(-30%);
    background-color: #4682b4;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#open-cart:hover {
    background-color: #1e90ff; /* Azul medio, ajustar el color a los otros botones */
}

/* Estilos para el contenedor del carrito */
.cart-container {
    display: none; /* Inicialmente oculto */
    background-color: #f0f8ff; /* Tono azul */
    padding: 20px;
    border: 2px solid #4682b4; /* Azul acero */
    border-radius: 10px;
    position: fixed;
    top: 50%; /* Lo colocamos en la mitad de la página */
    right: 20px; /* Lo colocamos en el lado derecho */
    transform: translateY(-50%); /* Corregimos la posición vertical */
    max-width: 300px; /* Limitamos el ancho del carrito */
}

/* Estilos para la lista de productos en el carrito */
.product-list ul {
    list-style-type: none;
    padding: 0;
}

.product-list li {
    margin-bottom: 10px;
    font-size: 14px;
}

/* Estilos para los botones */
button {
    background-color: #4682b4; /* Azul acero */
    color: #ffffff; /* Texto blanco para contraste */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
}

button:hover {
    background-color: #1e90ff; /* Azul medio */
}

/* Estilos para el botón de vaciar carrito */
#clear-cart {
    margin-top: 10px;
    background-color: #ff6347; /* Rojo tomate */
}

#clear-cart:hover {
    background-color: #ff4500; /* Rojo tomate oscuro xD */
}


/* TARJETA DE PAGO */
#main-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card-container {
    width: 350px;
    height: 190px;
    perspective: 1000px;
    border-radius: 10px;
}

#card {
    width: 100%;
    height: 100%;
    color: white;
    transition: 1s;
    position: relative;
    border-radius: 10px;
    perspective: 1000px;
    transform-style: preserve-3d;
    font-family: calibri;
}

#front,
#back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    border-radius: 10px;
    backface-visibility: hidden;
    background: linear-gradient(55deg, #0b0b0bfc 45%, rgb(25 25 25) 40%);
}

#back {
    transform: rotateY(180deg);
}

#front::after,
#front::before,
#back::after,
#back::before {
    content: '';
    width: 100%;
    height: 350px;
    position: absolute;
}

#front::before,
#back::before {
    left: -1%;
    transform: rotate(90deg);
    border-radius: 50% 95% 0% 100%;
    background: rgb(255 255 255 / 3%);
}

#front::after,
#back::after {
    height: 100%;
    right: -50%;
    top: -50%;
    border-radius: 100% 0 100% 80%;
    border: 1px solid rgb(239, 239, 239);
}

.type {
    position: relative;
    top: 10%;
    margin-left: 15px;
    font-weight: bold;
    background: linear-gradient(62deg, #ffffff 0%, #000000 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.title-text {
    position: absolute;
    right: 5%;
    top: 5%;
}

.detalles {
    position: relative;
    top: 35%;
    margin-left: 15px;
    font-size: 12px;
}

#hidden-number {
    margin-bottom: 10px;
}

#valid-date {
    margin-left: 15px;
}

#show-btn,
#hide-btn {
    position: absolute;
    bottom: 25%;
    left: 60%;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 20px;
    font-family: calibri;
    background: rgb(28, 28, 107);
}

.logo {
    position: absolute;
    font-size: 10px;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    bottom: 3%;
    right: 0%;
}

.logo::before,
.logo::after {
    content: '';
    position: absolute;
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.logo::before{
    background: rgba(255, 0, 0, 0.525);
    left: 10%;
}

.logo::after{
    background: rgba(255, 213, 0, 0.584);
    right: 10%;
}

.flipped {
    transform: rotateY(-180deg);
}

#chip {
    top: 10%;
    position: absolute;
    background: #e0ab89;
    width: 15%;
    height: 18%;
    border-radius: 5px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chip span {
    position: absolute;
    background-color: #e0ab89;
    border: 1px solid black;
}

#chip span:nth-child(1) {
    height: 100%;
    width: 40%;
    border-top: none;
    border-bottom: none;
}

#chip span:nth-child(2) {
    height: 60%;
    width: 40%;
    left: 0;
    border-left: none;
    border-radius: 0 5px 5px 0;
}

#chip span:nth-child(3) {
    height: 60%;
    width: 40%;
    border-right: none;
    border-radius: 5px 0 0 5px;
    right: 0;
}

#chip span:nth-child(4) {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
}

#chip span:nth-child(5) {
    aspect-ratio: 1/1;
    width: 25%;
    border-radius: 2px;
}

.reflection {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
}

.reflection::before {
    z-index: 0;
    top: 50%;
    content: '';
    left: -50%;
    height: 360px;
    position: absolute;
    background: #ffffff;
    transform: translate(-50%, -50%); rotate:(50deg);
    box-shadow: 0px 0px 10px 10px #ffffff;
}

.move {
    transform: translateX(700px);
}


/* Estilos para el resumen de compra en una caja */
#cart-summary {
    background-color: #fff;
    border: 2px solid #276d8d;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#product-list {
    list-style-type: none;
    padding: 0;
}

#product-list li {
    font-size: 14px;
    margin-bottom: 5px;
}

#total {
    font-size: 16px;
    font-weight: bold;
}




/* mantener al final asi se aplique a todo */


@media only screen and (max-width: 768px) {
    .producto {
    width: 100%;
    }
}


@media only screen and (max-width: 480px) {
    .form1 {
    flex-direction: column;
    }

    .form1_buscador {
    width: 100%;
    }

    .form1_buscar {
    width: 100%;
    }

    .header {
    padding: 20px 10px 10px;
    }

    .titulo {
    font-size: 20px;
    }

    footer {
    font-size: 12px;
    }

    .categoria-header {
    padding: 5px 10px;
    font-size: 12px;
    }

    .slider {
    padding-left: 0;
    }
}

/*PRUEBA DE ANIMACION NOMBRE DE TARJETA*/

.form-control {
    position: relative;
    margin: -30px 0 40px;
    width: 160px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: lightblue;
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}

.form-control label span {
    display: inline-block;
    font-size: 16px;
    min-width: 5px;
    color: #fff;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
    color: lightblue;
    transform: translateY(-30px);
}

/* POP UP */

.succes {
    background-color: #4BB543;
  }
  
  .succes-animation {
    animation: succes-pulse 2s infinite;
  }
  
  .custom-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 250px;
    background-color: #fff;
    border-radius: 30px;
  }
  
  .custom-modal .content { 
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
  }
  
  .custom-modal .content .type {
    font-size: 18px;
    color: #999;
  }
  
  .custom-modal .content .message-type {
    font-size: 24px;
    color: #000;
  }
  
  .custom-modal .border-bottom {
    position: absolute;
    width: 300px;
    height: 20px;
    border-radius: 0 0 30px 30px;
    bottom: -20px;
    margin: 0 25px;
  }
  
  .custom-modal .icon-top {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -30px;
    margin: 0 125px;
    font-size: 30px;
    color: #fff;
    line-height: 100px;
    text-align: center;
  }
  
  @keyframes succes-pulse { 
    0% {
      box-shadow: 0px 0px 30px 20px rgba(75, 181, 67, .2);
    }
    50% {
      box-shadow: 0px 0px 30px 20px rgba(75, 181, 67, .4);
    }
    100% {
      box-shadow: 0px 0px 30px 20px rgba(75, 181, 67, .2);
    }
  }
  
  body { 
    margin: 0; 
    font-family: 'Roboto';
  }
  
  /* estilos para seccion nuestro local */

.local-info {
    flex-basis: 40%;
    padding: 10px;
    color: #af363a; 
}

.local-map {
    flex-basis: 50%;
    position: relative;
}

.local-image {
    width: 25%;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s; 
    margin: 2.5vh;
    margin-left: 2.5vw;
}

.local-image:hover {
    transform: scale(1.1); 
}

iframe {
    width: 20%; 
    height: 300px;
    margin-right: 2.5vh;
}

.uiverse-style{
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
