<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <h1 class="titulo">Ayuda</h1>
        <nav class="header">
            <form action="css/" method="GET" class="form1">
                <input type="text" name="q" placeholder="Buscar productos..." class="form1_buscador">
                <input type="submit" value="Buscar" class="form1_buscar">
            </form>
            <div id="botonera">
                <button class="precioymenu">
                    <a href="../index.html">Inicio</a>
                </button>
                <button class="precioymenu">
                    <a href="productos.html">Productos</a>
                </button>
                <button class="precioymenu">
                    <a href="ayuda.html">Ayuda</a>
                </button>
                <button class="precioymenu">
                    <a href="contacto.html">Servicio Técnico</a>
                </button>
            </div>
        </nav>
    </header>
</html>