<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../imagenes/1.ico" type="image/x-icon">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <header class="seccion-arriba">
        <h1 class="titulo">Formulario de contacto para servicio técnico</h1>
        <nav class="header">
            <form action="" method="GET" class="form1">
                <input type="text" name="q" placeholder="¿Qué estás buscando hoy?" class="form1_buscador">
                <input type="submit" value="Buscar" class="form1_buscar">
            </form>
            <div id="botonera">
                <button class="precioymenu">
                    <a href="../index.html">Inicio</a>
                </button>
                <button class="precioymenu">
                    <a href="productos.html">Productos</a>
                </button>
                <button class="precioymenu">
                    <a href="nuestro-local.html">Nuestro Local</a>
                </button>
                <button class="precioymenu">
                    <a href="contacto.html">Servicio Técnico</a>
                </button>
            </div>
        </nav>
    </header>

    <!-- Contenido formulario -->
    <main class="conpag">

        <form id="formulario" onsubmit="return validarFormulario()" action="https://formspree.io/f/mnqkgzkd" method="post">

            <!-- Crear campos para nombre, apellido, fecha de nacimiento
                y edad.  -->

            <div class="contact-form">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre" placeholder="Escriba su nombre. Ej: José"> 
            </div>

            <br>

            <div class="contact-form">
                <label for="apellido">Apellido:</label>
                <input type="text" name="apellido" id="apellido" placeholder="Escriba su apellido. Ej: Perez"> 
            </div>

            <br>

            <div class="contact-form">
                <label for="fn">Fecha de nacimiento:</label>
                <input type="date" name="fn" id="fn" min="1940-01-01" max="2023-09-19"> 
            </div>

            <br>

            <div class="contact-form">
                <label for="edad">Edad:</label>
                <input type="number" name="edad" id="edad" >                
            </div>

            <hr>
            <br>


            <div class="contact-form">
                <h3>Seleccione el motivo por el que desea contactarse:</h3>


                <input type="radio" name="area" id="sugg" value="sugg">
                <label for="sugg">Producto con garantía</label>

                <input type="radio" name="area" id="complaint" value="complaint">
                <label for="complaint">Producto sin garantía</label>

                <input type="radio" name="area" id="other" value="other">
                <label for="other">Otros</label>

            </div>

            <br>

            <fieldset>
                <!-- Datos -->
                <legend>Datos personales:</legend>

                <div class="contact-form">
                    <label for="telefono">Teléfono:</label>
                    <input type="tel" name="telefono" id="telefono" title="Por favor, solo numeros">
                </div>

                <div class="contact-form">
                    <label for="email">Correo:</label>
                    <input type="email" name="email" id="email">
                </div>

            </fieldset>


            <br>

            <div class="contact-form">
                <label for="comentario">Comentario:</label>
                <textarea name="comentario" id="comentario" cols="30" rows="10"
                    placeholder="Escriba un comentario"></textarea>
            </div>


            <br>
            <hr>

            <div class="contact-form">
                <input type="submit" value="Enviar">
                <input type="reset" value="Borrar">
            </div>

        </form>




    </main>

    <footer>
        <h3 class="texto-footer">®2023 Silicon Tech</h3>
        <i></i>
        <img src="../imagenes/1.png" alt="Logo Silicon" style="width: 5vw;">
    </footer>

    <script src="../js/contacto.js"></script>
</body>

</html>