<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
    <header>
        <nav class="header">
            <form action="/buscar" method="GET">
                <input type="text" name="q" placeholder="Buscar productos">
                <input type="submit" value="Buscar">
        </nav>
        <div>
            <a href="../index.html">Inicio</a>
            <a href="productos.html">Productos</a>
            <a href="carrito.html">Carrito</a>
            <a href="contacto.html">Contacto</a>
        </div>
    </header>
    
</body>
</html>