<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../imagenes/1.ico" type="image/x-icon">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <h1 class="titulo">Contáctenos</h1>
        <nav class="header">
            <form action="css/" method="GET" class="form1">
            <input type="text" name="q" placeholder="Buscar productos..." class="form1_buscador">
            <input type="submit" value="Buscar" class="form1_buscar" >
        </form>
        <div id="header">
            <ul class="nav">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="templates/productos.html">Productos</a>
                    <ul>
                        <li><a href="">Calzados</a>
                    <ul>
                        <li><a href="/templates/calzadosM.html">Calzados Mujer</a></li>
                        <li><a href="/templates/calzadosH.html">Calzados Hombre</a></li>
                    </ul>
                </li>
                <li><a href="">Remeras</a>
                    <ul>
                        <li><a href="templates/remerasM.html">Remeras Mujer</a></li>
                        <li><a href="templates/remerasH.html">Remeras Hombre</a></li>
                    </ul>
                </li>
                <li><a href="">Pantalones</a>
                    <ul>
                    <li><a href="templates/pantalonesM.html">Pantalones Mujer</a></li>
                    <li><a href="templates/pantalonesH.html">Pantalones Hombre</a></li>
                </ul>
                </li>
            </ul>
                </li>
        <li><a href="/templates/carrito.html" class="carrito-link">Carrito</a></li>
        <li><a href="/templates/contacto.html">Contacto</a></li>
            </ul>
        </div>
    </nav>
    </header>

    <!-- Contenido formulario -->
    <main class="conpag">

        <form action="https://formspree.io/f/mnqkgzkd" method="post"> <!-- falta hacer email empresa para otro formspree -->

            <!-- Crear campos para nombre, apellido, fecha de nacimiento
                y edad.  -->

            <div class="contact-form">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre" placeholder="Escriba su nombre. Ej: José" required>
            </div>

            <br>

            <div class="contact-form">
                <label for="apellido">Apellido:</label>
                <input type="text" name="apellido" id="apellido" placeholder="Escriba su apellido. Ej: Perez" required>
            </div>

            <br>

            <div class="contact-form">
                <label for="fn">Fecha de nacimiento:</label>
                <input type="date" name="fn" id="fn" min="1940-01-01" max="2023-09-19" required>
            </div>

            <br>

            <div class="contact-form">
                <label for="edad">Edad:</label>
                <input type="number" name="edad" id="edad" required min="18" required>
                <input type="submit" value="Validar">
            </div>

            <hr>
            <br>


            <div class="contact-form">
                <h3>Seleccione el motivo por el que desea contactarse:</h3>


                <input type="radio" name="area" id="sugg" value="sugg">
                <label for="sugg">Sugerencia</label>

                <input type="radio" name="area" id="complaint" value="complaint">
                <label for="complaint">Queja</label>

                <input type="radio" name="area" id="other" value="other">
                <label for="other">Otros</label>

            </div>

            <br>

            <fieldset>
                <!-- Datos -->
                <legend>Datos personales:</legend>

                <div class="contact-form">
                    <label for="telefono">Teléfono:</label>
                    <input type="tel" name="telefono" id="telefono">
                </div>

                <div class="contact-form">
                    <label for="email">Correo:</label>
                    <input type="email" name="email" id="email">
                </div>

            </fieldset>


            <br>

            <div class="contact-form">
                <label for="comentario">Comentario:</label>
                <textarea name="comentario" id="comentario" cols="30" rows="10" placeholder="Escriba un comentario"></textarea>
            </div>


            <br>
            <hr>
            
            <div class="contact-form">
                <input type="submit" value="Enviar">
                <input type="reset" value="Borrar">
            </div>
            
        </form>




    </main>

    <footer>
        <h3 class="texto-footer"> Compra-ventas <br>®2023 Silicon Tech  </h3> <!-- por alguna razon queda a mitad de pag, revisar -->
       

    </footer>
   
</body>
</html>
