<!DOCTYPE html>
<html lang="en">
<head>
    <title>Productos de usuario</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/productos.css">
</head>
<body>
    <header id="header">
        <!-- Coloca la barra de navegación aquí si es necesario -->
    </header>
    <main>
        <div id="app" class="container">
            <h1>Productos vendidos por usuarios</h1>
            <br>
            <a class="btn btn-primary" href="producto_nuevo.html">Publique su producto</a>
            <br><br>
            <div v-if="error">
                <p>Lo sentimos, ha ocurrido un error.</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando...</p>
                </section>
                <section v-else>
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                        <!-- Utiliza Vue.js para iterar sobre los productos -->
                        <div class="col" v-for="producto in productos" :key="producto.id">
                            <div class="card">
                                <img :src="producto.imagen" class="card-img-top" :alt="producto.nombre">
                                <div class="card-body">
                                    <h5 class="card-title">{{producto.nombre}}</h5>
                                    <p class="card-text">Precio: ${{producto.precio}}</p>
                                    <p class="card-text">Stock: {{producto.stock}}</p>
                                    <a href="#" class="btn btn-primary" @click="comprarProducto(producto)">Comprar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>

    <footer>
        <!-- Coloca el pie de página aquí si es necesario -->
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
            integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
            crossorigin="anonymous"></script>
    <script src="../js/main.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../js/productos.js"></script>
</body>
</html>
