<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Online - Productos</title>
    <link rel="shortcut icon" href="../imagenes/1.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css"> <!-- cssss -->
</head>

<body>
    <header class="seccion-arriba">
        <h1 class="titulo">¡Bienvenido a Nuestra Tienda de Tecnología!</h1>
        <nav class="header">
            <form action="css/" method="GET" class="form1">
                <input type="text" name="q" placeholder="¿Qué estás buscando hoy?" class="form1_buscador">
                <input type="submit" value="Buscar" class="form1_buscar"> 
            </form>
            <div id="botonera">
                <button class="precioymenu">
                    <a href="../index.html">Inicio</a>
                </button>
                <button class="precioymenu">
                    <a href="productos.html">Productos</a>
                </button>
                <button class="precioymenu">
                    <a href="nuestro-local.html">Nuestro Local</a>
                </button>
                <button class="precioymenu">
                    <a href="contacto.html">Servicio Técnico</a>
                </button>
            </div>
        </nav>
    </header>
</body>

<button id="open-cart">Abrir Carrito</button>

<!-- Contenedor del carrito (inicialmente oculto) -->
<div id="cart-container" class="cart-container">
    <!-- Imagen en blanco para que puedas agregar tu propia imagen (va en el fondo, cambiar el icono del boton) -->
    <img src="../image/cart.png" alt="Carrito de Compras">

    <!-- Lista de productos (se mostrará cuando haya productos) -->
    <div class="product-list">
        <ul id="product-list"></ul>
    </div>

    <!-- Resumen de la compra -->
    <div class="cart-summary">
        <h2>Resumen de la Compra</h2>
        <p id="subtotal">Subtotal: $0.00</p>
        <p id="total">Total: $0.00</p>
    </div>

    <!-- Botón para vaciar el carrito -->
    <button id="clear-cart">Vaciar Carrito</button>
    <button id="close-cart">Cerrar Carrito</button>

    <!-- Nuevo botón "Terminar Compra" -->
    <button id="checkout">Terminar Compra</button>
</div>



<main>
    <div class="slider">
        <div class="slide">
            <img src="../imagenes/Ofertas Tech - 2.png" alt="Imagen 1">
        </div>
        <div class="slide">
            <img src="../imagenes/Ofertas Tech -1.png" alt="Imagen 2">
        </div>
        <div class="slide">
            <img src="../imagenes/Ofertas Tech - 3.jpeg" alt="Imagen 3">
        </div>
        <div class="slide">
            <img src="../imagenes/Ofertas Tech - 4.jpeg" alt="Imagen 4">
        </div>
    </div>

    <section class="productos">
        <article class="producto">
            <img src="../imagenes/auric.png" alt="Auriculares">
            <h2>Auriculares Thonet & Vander Dauer</h2>
            <p>Los nuevos auriculares inalámbricos Bluetooth Dauer 2 Gen extienden la duración de su batería hasta 50 horas. <br> 
                Su diseño ergonómico, con almohadillas y vincha microperforadas, te permiten obtener el mejor nivel de confortabilidad.</p>
            <p>Precio: $45000.00</p>
            <button class="add-to-cart-button" data-id="7" data-nombre="AuricularG" data-precio="45000.00">Añadir al Carrito</button>
            <button class="remove-from-cart" data-id="7" data-nombre="AuricularG"  data-precio="45000.00">Remover del Carrito</button>
        </article>

        <article class="producto">
            <img src="../imagenes/mouse pad.png" alt="MousePad">
            <h2>Mouse Pad Gamer Led</h2>
            <p>Mousepad gamer retroiluminado rgb, que no se deshilacha y proporciona una superficie plana y uniforme</p>
            <p>Precio: $5000.00</p>
            <button class="add-to-cart-button" data-id="8" data-nombre="MousePad" data-precio="5000.00">Añadir al Carrito</button>
            <button class="remove-from-cart" data-id="8" data-nombre="MousePad"  data-precio="5000.00">Remover del Carrito</button>
        </article>

        <article class="producto">
            <img src="../imagenes/set mouse teclado.png" alt="SetMouseTecl">
            <h2>Kit Gaming Nbx Teclado y Mouse</h2>
            <p>Teclado retroiluminado con un mouse pad de fácil limpieza y desplazamiento rápido</p>
            <p>Precio: $6000.00</p>
            <button class="add-to-cart-button" data-id="9" data-nombre="SetMouseTecl" data-precio="6000.00">Añadir al Carrito</button>
            <button class="remove-from-cart" data-id="9" data-nombre="SetMouseTecl" data-precio="6000.00">Remover del Carrito</button>
        </article>

        <article class="producto">
            <img src="../imagenes/teclado gamer.png" alt="TecladoG">
            <h2>Teclado retroiluminado (Rainbow) NBX</h2>
            <p>Este teclado Noganet de alto rendimiento permite que puedas disfrutar de horas ilimitadas de juegos. 
                Está diseñado especialmente para que puedas expresar tanto tus habilidades como tu estilo.</p>
            <p>Precio: $8500.00</p>
            <button class="add-to-cart-button" data-id="10" data-nombre="TecladoG" data-precio="8500.00">Añadir al Carrito</button>
            <button class="remove-from-cart" data-id="10" data-nombre="TecladoG" data-precio="8500.00">Remover del Carrito</button>
        </article>

        <article class="producto">
            <img src="../imagenes/Cooler fan.png" alt="Cooler">
            <h2>Cooler fan DeepCool</h2>
            <p>Aumenta la circulación de aire de tu PC y a su vez dale un toque moderno de iluminación 
                LED azul con un gran brillo e intensidad.</p>
            <p>Precio: $5500.00</p>
            <button class="add-to-cart-button" data-id="11" data-nombre="Cooler" data-precio="5500.00">Añadir al Carrito</button>
            <button class="remove-from-cart" data-id="11" data-nombre="Cooler" data-precio="5500.00">Remover del Carrito</button>
        </article>

        <article class="producto">
            <img src="../imagenes/fuente alimentacion.png" alt="Fuente">
            <h2>Fuente de alimentación para PC Metal Blade 750W</h2>
            <p>Con la fuente de alimentación Metal Blade Power Modular podrás asegurar
                 la corriente continua y estable de tu computadora de escritorio y 
                 optimizar el funcionamiento de sus componentes.</p>
            <p>Precio: $70000.00</p>
            <button class="add-to-cart-button" data-id="12" data-nombre="Fuente" data-precio="70000.00">Añadir al Carrito</button>
            <button class="remove-from-cart" data-id="12" data-nombre="Fuente" data-precio="70000.00">Remover del Carrito</button>
        </article>

        <article class="producto">
            <img src="../imagenes/Placa madre intel.png" alt="Placa ROG®">
            <h2>Tarjeta Madre Repuplic of Gamers</h2>
            <p>Motherboard ROG® Z790 LGA 1700 ATX con 16+1+2 fases de poder, 
                puertos DDR5, cinco puertos M.2 con disipadores, PCIe 5.0 x16 SafeSlot con Q-Release,
                  AI Overclocking, AI Cooling II e iluminación Aura Sync RGB</p>
            <p>Precio: $165000.00</p>
            <button class="add-to-cart-button" data-id="13" data-nombre="Placa ROG®" data-precio="165000.00">Añadir al Carrito</button>
            <button class="remove-from-cart" data-id="13" data-nombre="Placa ROG®" data-precio="165000.00">Remover del Carrito</button>
        </article>


        <article class="producto">
            <img src="../imagenes/Mouse Redragon.png" alt="MouseGamerRD">
            <h2>Mouse Gamer Redragon</h2>
            <p>  Diseñado especialmente para gamers, con un sensor óptico PixArt 3168 de alta precisión y
                 3200 dpi, lo que te permitirá tener un control total más una respuesta rápida en tus partidas</p>
            <p>Precio: $16000.00</p>
            <button class="add-to-cart-button" data-id="14" data-nombre="MouseGamer Redragon®" data-precio="16000.00">Añadir al Carrito</button>
            <button class="remove-from-cart" data-id="14" data-nombre="MouseGamer Redragon®" data-precio="16000.00">Remover del Carrito</button>
        </article>

    </section>
</main>

<footer>
    <h3 class="texto-footer">®2023 Silicon Tech</h3>
    <i></i>
    <img src="../imagenes/1.png" alt="Logo Silicon" style="width: 5vw;">
</footer>

<script src="../script.js"></script> <!-- jsjs -->


</html>